@import url('https://fonts.google.com/specimen/Germania+One');

* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */
body{
  margin: 0;
  font-family: 'Germania One', Times, serif;
  background: linear-gradient(-20deg, #c6002b, #da0758, #d8b800, #c30ad8);
  background-size: 400% 400%;
}

#start-page,
#lose-page {
  height: 600px;
  width: 1000px;
  padding: 100px 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  
}
/* start button*/
#start{
  background-color:purple;
  color:white;
  border: none;
  text-align: center;
  font-family:'Germania One';
  cursor: pointer;
  width:45%;
  padding: 8px 5px;
  font-size: 4em;
  border-radius: 10px;
  transition-duration: 1s;
}

#start:hover{
 box-shadow: 0 12px 16px rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.19);
 background-color:rgb(216, 216, 216);
 color:purple;
}

#start-page button {
  margin-top: 400px;
}

/* start page styles*/

#start-page p {
  font-size: 3rem;
}

#start-page h1 {
  font-family:'Germania One', Tahoma, Verdana, sans-serif;
  font-size: 6rem;
  margin-top: 300px;
  margin-bottom: 40px;
  border: 3px solid black;
  border-radius: 2px;
  padding: 30px 80px;
  color:rgb(188, 183, 183);
  
}
/* loose page styles */
#lose-page {
  min-width: 100%;
  min-height: 100%;
  display: none;
  position:absolute;
  margin: 0 auto;
  background: linear-gradient(-30deg, #9400c6, #d277e7, #4c00d8, #d80abd);
  background-size: 400% 400%;
}

#lose-page h1 {
  margin: 0 auto;
  font-size: 6rem;
  color: white;
}
#lose-page p {
  font-size: 4rem;
  color: blue;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  border-width: 2px;
}

/* restart button/ Play Again! */

#restart-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #fcd5fe;
  border: none;
  color: #160909;
  font-weight:300;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  width: 38%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
}

#restart-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#restart-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -65px;
  transition: 0.5s;
}

#restart-btn:hover span {
  padding-right: 25px;
}

#restart-btn:hover span:after {
  opacity: 1;
  right: 0;
}

#win-page {
  display: none;
  min-width: 100%;
  min-height: 100%;
  display: none;
  position:absolute;
  margin: 0 auto;
  background: linear-gradient(-30deg, #9400c6, #d277e7, #4c00d8, #d80abd);
  background-size: 400% 400%;
}
#win-page h1 {
  align-text: center;
}

#gameover{
  width: 1005px;
  height: 605px;
  position: absolute;
  bottom: 9px;
  left: 100px;

}

#canvas{
  background-image: url(../images/bg1.jpg);
  background-size:cover ;

}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}