* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */
body{
  background-color: aqua;
}

#start-page,
#lose-page {
  
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

#lose-page {
  display: none;
  position:absolute;
  width: 1000px;
  height: 600px;
  background: rgba(0,0,0,0);
  margin: 0 auto;
}

#restart {
  position: absolute;
  top: 500px;
  left: 500px;
  cursor: pointer;
  font-size: 3em;
  color: white;
}

#win-page{
  display:none;
  position: absolute;
  width:1000px;
  height: 600px;
  left:500px;

  
}
#gameover{
  width: 1005px;
  height: 605px;
  position: absolute;
  bottom: 9px;
  left: 100px;

}


#start{
  background-color: bisque;
  padding: 10px 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
}
#canvas{
  background-image: url(../images/bg1.jpg);
  background-size:cover ;

}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}